body {
    font-family: "Montserrat", sans-serif;
    padding: 15px;
    background-color: #0B0C10;
    background-image: linear-gradient(to bottom right, #0B0C10, #172535);
    color: white;
}

canvas {
    position: absolute;
    perspective: -10px;
    width: 96%;
    height: 100%
}

h1 {
    font-family: Georgia, sans-serif;
    font-size: 3em;
    letter-spacing: -2px;
    position: relative;
}

h2 {
    font-size: 30px;
    padding-top: 3%;
}

main {
    text-align: center;
}

.arrow {
    position: relative;
    animation: fadeIn 8s;
}

.vertical-menu {
    width: 80px; /* Set a width if you like */
    position: fixed;
    z-index: 2000;
    backdrop-filter: blur(5px);
}
  
.vertical-menu a {
    color: white; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}
  
.vertical-menu a:hover {
    background-color: #359ea5; /* Dark grey background on mouse-over */
}
  
.vertical-menu a.active {
    background-color: #359ea5; /* Add a green color to the "active/current" link */
    color: white;
}

.header {
    text-align: center;
}

.about {
    position: relative;
    padding-left: 30%;
    padding-right: 30%;
    top: 50%;
    font-size: 18px;
    animation: fadeIn 3s;
}

b {
    font-size: 20px;
}

/* wildcard styling */
* {
    box-sizing: border-box;
}
 
/* styling body */
.container {
    max-width: 1200px;
    margin: auto;
}
 
a:link.button, a:visited.button {
    background-color: #359ea5;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover.button, a:active.button {
    background-color: #4bdde8;
}

.ignore {
    background-color: white;
}
 
/* paragraph tag decoration */
 
/* row and column decoration */
.row {
    margin: 0px -18px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.row > .column {
    padding: 6px;
}
 
.column {
    float: left;
    width: 25%;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.parallax {
    transform: translateZ(15px);
    margin: 5%;
}

.clients {
    float: left;
    padding: 10px;
    perspective: 1000px;
}
 
.row:after {
    content: "";
    display: table;
    clear: both;
}
 
/* content decoration */
.content {
    background-color: #1F2833;
    padding: 10px;
    border: 1px solid gray;
    transform-style: preserve-3d;
    perspective: 1000px;
}
 
/* window size 850 width set */
@media screen and (max-width: 850px) {
    .column {
        width: 100%;
    }
}

/* window size 400 width set */
@media screen and (max-width: 400px) {
    .column {
        width: 100%;
    }
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: pre-wrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    display: inline-flex;
    animation: 
      typing 1s steps(12, end),
      blink-caret 1s step-end infinite;
    margin-top: 20%;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 20% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

/* fade in effect */
@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0;}
    100% { opacity: 1; }
  }

